{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я может быть , когда нибудь,  размещу информацию о себе, 
  используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А пока, 
  просто напишу несколько абзацев текста.
  Времени в связи с поломкой компа, не особо, поэтому - в двух словах:
    Я человек пришедший сюда с нуля,и продирающийся, 
    со скрипом всех шестеренок черепной коробки, через непролазные терни.
    На момент написания данного текста в моем тунеле нет и намека
    на тоненький лучик света, но надежда не покидает меня.    
</p>
{% endblock %}