{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1> {{ group.title }} </h1>
    <p>
      {{ group.description }}
    </p>
    <article>
      {% for post in page_obj %}
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>      
      {% include 'includes/picture.html' %}
      <p>
        {{ post.text }}
      </p>         
      <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
        </article>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    <!-- под последним постом нет линии -->
  </div>  
  {% include 'posts/includes/paginator.html' %}
{% endblock %}